<section class="content">
    <div class="content-block custom-table">
        <div class="row clearfix">
            <div class="col-12 topblockheader">
                <div class="block-header breadcrumb-subheading">
                </div>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-12">
                <div class="dateTimeStatus">
                    <div class="leftPart">
                        <div class="dateStatus ">
                            <span><i _ngcontent-ng-c3582763249="" class="material-icons dateed">date_range</i></span>
                            <b>{{currentDay | date : 'EEE dd MMMM'}}</b>
                        </div>
                        <div class="timeStatus ms-lg-3 ms-md-3 ms-sm-2">
                            <span><i _ngcontent-ng-c3582763249="" class="material-icons dateed">access_time</i></span>
                            <b>{{currentDay | date : 'hh:mm:ss a'}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="row custom-card-container">
                    <div class="col-8">
                        <div class="card grayBorder">
                            <div class="body liveCalls">
                                <div class="row py-2">
                                    <div class="col-12 ">
                                        <div class="liveCallDetails text-center">
                                            <h2 class="bold-text">{{ this.totaUserCount && this.totaUserCount < 0 ? 0 :
                                                    this.totaUserCount }}</h2>
                                                    <p>Total Users</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr" />
                                <div class="row py-2">
                                    <div class="col-6 borderRight">
                                        <div class="liveCallDetails text-center">
                                            <h2 class="aicCalls">
                                                {{
                                                this.totalPlatinumUsers && this.totalPlatinumUsers < 0 ? 0 :
                                                    this.totalPlatinumUsers }} </h2>
                                                    <p>Platinum User</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="liveCallDetails text-center">
                                            <h2 class="aocalls">
                                                {{
                                                this.totalDiamondUsers && this.totalDiamondUsers < 0 ? 0 :
                                                    this.totalDiamondUsers }} </h2>
                                                    <p>Diamond User</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card grayBorder liveCallsDVA">
                            <div class="body">
                                <div class="row py-2">
                                    <div class="12">
                                        <div class="liveCallDetails text-center">
                                            <h2 class="lightgreenBorder aocalls">
                                                {{this.totalActiveUsers?this.totalActiveUsers:'0'}}</h2>
                                            <p>Active User</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr" />
                                <div class="row py-2">
                                    <div class="col-12">
                                        <div class="liveCallDetails text-center">
                                            <h2 class="yellowBorder aocalls">{{ this.totalInactiveUsers?
                                                this.totalInactiveUsers:'0'}}</h2>
                                            <p>In-Active User</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row liveCallsAgentQueue">
                    <div class="col-4">
                        <div class="card grayBorder custom-card">
                            <div class="body">
                                <div class="liveCallDetails text-center">
                                    <h2 class="aocalls lightgreenBorder">
                                        {{ this.totalGoldUsers && this.totalGoldUsers < 0 ? 0 : this.totalGoldUsers }}
                                            </h2>
                                            <p>Gold User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card grayBorder custom-card">
                            <div class="body">
                                <div class="liveCallDetails text-center">
                                    <h2 class="roseBorder aocalls">
                                        {{ this.totalSilverUsers && this.totalSilverUsers < 0 ? 0 :
                                            this.totalSilverUsers }} </h2>
                                            <p>Silver User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <div class="card grayBorder custom-card">
                            <div class="body">
                                <div class="liveCallDetails text-center">
                                    <h2 class="yellowBorder aocalls">
                                        {{ 0 }}
                                    </h2>
                                    <p>Agent on Calls</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Current day historic data -->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="row card-container">
                    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="card overflow-hidden">
                            <div class="body p-0">
                                <div class="activeCalls totalactiveCalls text-center">
                                    <h2 class="aocalls">{{totalActiveSilverUsers}}</h2>
                                    <p>Active Platinum User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="card overflow-hidden">
                            <div class="body p-0">
                                <div class="activeCalls agentactiveCalls text-center">
                                    <h2 class="aocalls">{{this.totalActiveDiamondUsers}}</h2>
                                    <p>Active Diamond User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="card overflow-hidden">
                            <div class="body p-0">
                                <div class="activeCalls selfactiveCalls text-center">
                                    <h2 class="aocalls">{{ this.totalActiveGoldUsers}}</h2>
                                    <p>Active Gold User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6 col-12">
                        <div class="card overflow-hidden">
                            <div class="body p-0">
                                <div class="activeCalls abandactiveCalls text-center">
                                    <h2 class="aocalls">{{this.totalActiveSilverUsers}}</h2>
                                    <p>Active Silver User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="horizontal-line">
        <div class="row Dashboard justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card innerCard">
                            <div class="body">
                                <div class="upperHeading">
                                    <div>
                                        <h3 class="headingName">Users :</h3>
                                        <p class="stats">
                                            {{totaUserCount}}
                                        </p>
                                    </div>
                                    <button class="redirect-btns" routerLink="../../dashboard/users">
                                        <i _ngcontent-xpg-c199="" class="material-icons">keyboard_arrow_right</i>
                                    </button>
                                </div>
                                <div class="lowerBody">
                                    <div class="recent-report__chart">
                                        <div class="chart-container" *ngIf="no_record_found_call_count">
                                            <canvas id="MyZeroChart">{{ chart }}</canvas>
                                        </div>
                                        <div class="chart-container" *ngIf="record_found_call_count">
                                            <canvas id="MyChart">{{ chart }}</canvas>
                                        </div>
                                        <div class="overflowhide"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card innerCard">
                            <div class="body">
                                <div class="upperHeading">
                                    <div>
                                        <h3 class="headingName">Packages :</h3>
                                        <p class="stats">
                                            {{4}}
                                        </p>
                                    </div>
                                    <button class="redirect-btns" routerLink="../../integration/number-list">
                                        <i _ngcontent-xpg-c199="" class="material-icons">keyboard_arrow_right</i>
                                    </button>
                                </div>
                                <div class="lowerBody">
                                    <div class="recent-report__chart">
                                        <div class="chart-container" *ngIf="no_record_found_call_count">
                                            <canvas id="MyZeroCharts">{{ chart }}</canvas>
                                        </div>
                                        <div class="chart-container" *ngIf="record_found_call_count">
                                            <canvas id="MyCharts">{{ chart }}</canvas>
                                        </div>
                                        <div class="overflowhide"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>